USE [master]
GO
/****** Object:  Database [Taskinator]    Script Date: 10/16/2021 11:37:49 AM ******/
CREATE DATABASE [Taskinator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Taskinator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Taskinator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Taskinator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Taskinator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Taskinator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Taskinator]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/16/2021 11:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [uniqueidentifier] NOT NULL,
	[customerId] [uniqueidentifier] NOT NULL,
	[paymentId] [uniqueidentifier] NULL,
	[orderTotal] [money] NOT NULL,
	[orderDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/16/2021 11:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [uniqueidentifier] NOT NULL,
	[accountNumber] [uniqueidentifier] NOT NULL,
	[paymentType] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Robot_Categories]    Script Date: 10/16/2021 11:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Robot_Categories](
	[id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Robots]    Script Date: 10/16/2021 11:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Robots](
	[id] [uniqueidentifier] NOT NULL,
	[imageUrl] [nvarchar](255) NULL,
	[categoryId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[price] [money] NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[available] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Robots_Orders]    Script Date: 10/16/2021 11:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Robots_Orders](
	[id] [uniqueidentifier] NOT NULL,
	[dayQuantity] [smallint] NULL,
	[robotId] [uniqueidentifier] NOT NULL,
	[orderId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/16/2021 11:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [uniqueidentifier] NOT NULL,
	[imageUrl] [nvarchar](255) NULL,
	[dateCreated] [datetime] NULL,
	[username] [nvarchar](50) NULL,
	[firstName] [nvarchar](25) NULL,
	[lastName] [nvarchar](25) NULL,
	[email] [nvarchar](50) NULL,
	[billingAddress] [nvarchar](255) NULL,
	[isAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Robot_Categories] ([id], [title], [description]) VALUES (N'f81a7280-8b3e-4865-8568-9ada95b19b17', N'Lawn Care', N'Robots that are great at taking care of the lawn')
INSERT [dbo].[Robots] ([id], [imageUrl], [categoryId], [title], [price], [description], [available]) VALUES (N'4fb370e3-f6f3-4a59-a65d-fc019426afb2', N'google.com', N'f81a7280-8b3e-4865-8568-9ada95b19b17', N'Lawnbot3000', 1.0000, N'cuts grass and fingers', 1)
INSERT [dbo].[Users] ([id], [imageUrl], [dateCreated], [username], [firstName], [lastName], [email], [billingAddress], [isAdmin]) VALUES (N'4ade38ae-50af-4acc-8616-007b8bcbdfae', N'gogole.com', CAST(N'2021-10-13T10:35:54.120' AS DateTime), N'jboi2055', N'john', N'struggenfalrge', N'jstruggin@gmail.com', N'555 lazy lane', 0)
INSERT [dbo].[Users] ([id], [imageUrl], [dateCreated], [username], [firstName], [lastName], [email], [billingAddress], [isAdmin]) VALUES (N'1d8ccac9-2dcd-43a3-90e1-6e91b526cf1d', NULL, CAST(N'2021-10-07T19:43:07.687' AS DateTime), N'jroboianopa', N'jesse', N'robinson', N'jesse0529robinson@gmail.com', N'555 boi ave', 1)
INSERT [dbo].[Users] ([id], [imageUrl], [dateCreated], [username], [firstName], [lastName], [email], [billingAddress], [isAdmin]) VALUES (N'778710ec-c3a6-450c-9bd3-bf60de9344c8', NULL, CAST(N'2021-10-13T11:12:59.850' AS DateTime), NULL, NULL, NULL, N'string', NULL, 0)
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Robot_Categories] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Robots] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Robots] ADD  CONSTRAINT [DF_Robots_available]  DEFAULT ((1)) FOR [available]
GO
ALTER TABLE [dbo].[Robots_Orders] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Robots_Orders] ADD  DEFAULT ((1)) FOR [dayQuantity]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_dateCreated]  DEFAULT (getdate()) FOR [dateCreated]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [isAdmin]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([paymentId])
REFERENCES [dbo].[Payments] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Users_Orders] FOREIGN KEY([customerId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Users_Orders]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Users_Payments] FOREIGN KEY([accountNumber])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Users_Payments]
GO
ALTER TABLE [dbo].[Robots]  WITH CHECK ADD  CONSTRAINT [FK_RobotCategories_Robots] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Robot_Categories] ([id])
GO
ALTER TABLE [dbo].[Robots] CHECK CONSTRAINT [FK_RobotCategories_Robots]
GO
ALTER TABLE [dbo].[Robots_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_RobotsOrders] FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[Robots_Orders] CHECK CONSTRAINT [FK_Orders_RobotsOrders]
GO
ALTER TABLE [dbo].[Robots_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Robots_RobotsOrders] FOREIGN KEY([robotId])
REFERENCES [dbo].[Robots] ([id])
GO
ALTER TABLE [dbo].[Robots_Orders] CHECK CONSTRAINT [FK_Robots_RobotsOrders]
GO
USE [master]
GO
