.admin-view-container {
  padding: 0px 50px;
  height: auto;
  .container {
    background-color: #ebebeb;
    padding: 60px;
    border: 15px solid #8FC3E4;
  }
  h1, h2, h3, p {
    text-align: left;
    color: #0a0a0a
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    padding-top: 30px;
  }
}
  .admin-tools-header {
    color: white !important;
    text-align: center;
    font-size: 44px !important;
    margin: 2em !important;
}
.admin-robot-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.available-robots-h3 {
  color: white !important;
  margin: 1.5em;
}
.admin-robot-card {
  color: black;
}
