.full-height-section {
  min-height: 100vh;
}

.robot-form {
  color: #161616;
  text-align: left;
  label {
    font-weight: 700 !important;
    text-transform: capitalize;
  }
}

.form-container {
  margin: 60px;
}

.additional-form {
  margin: 40px 0px;
}
