.hero-image {
  width:100%;
  padding: 80px 60px;
  color: white;
}

.hero-text {
  display: block;
  position: relative;
  color: white;
  padding-top: 100px;
  text-align: left;

  h2 {
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: left;
  }
}

.about-us-container {
  background-color: #141414;
  padding: 50px 100px;
}

.home-heading {
  padding-top: 30px;
  font-weight: 800;
}