.robot-card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  margin: 50px auto;   //w-75 justify-content-center mx-auto flex-wrap
}
.robot-card {
  background-color: #8FC3E4 !important;
  padding: 5px;
  margin: 10px 20px ;
  width: 11em;
  height: 100%;
  .card-body {
    padding: 5px;
    margin: 5px;
  }
}

.card-button {
  background-color: #8FC3E4 !important;
  border: none !important;
}

.cart-card {
  margin: 50px auto;
  width: 15%;
  background-color: #8FC3E4 !important;
  border: none !important;
}

.table td {
  vertical-align: middle !important;
}

.cart-container {
  background-color: #c5d9e6 !important;
  h1, h2, h3, h4, h5, p {
    text-align: left;
  }
}

.cart-title {
  padding-top: 30px;
}

.cart-total {
  font-size: 1.5em;
}

.cart-table td {
  width: 400px;
}

.order-total-container {
  text-align: right !important;
  padding: 30px;
}

.order-cart-img {
  width: 80px;
  text-align: center;
}

.cart-table {
  margin-top: 50px;
}

.success-message {
  color: #161616;
}

.individual-cart-card {
  padding: 50px;

  img {
    padding: 30px;
  }

  p {
    font-weight: 700;
  }
}
