@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'homeStyles';
@import 'navStyles';
@import 'servicesStyles';
@import 'robotCardStyles';
@import 'robotStyles';

#root {
  color: white;
  background-color: #202020;
}
body {
  height: 100vh;
  background-color: $favColor !important;
}
